<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
  <div class="filter"></div>
  <div class="container">
    <div class="motto text-center">
      <h1>Rahul Prajapati</h1>
      <h3>Full Stack Developer</h3>
      <br />
    </div>
  </div>
</div>
<div class="main home-page">

  <div class="section text-center">
    <div class="container">
      <h2 class="title">About Me</h2>
      <div class="row d-flex justify-content-center">
        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="./assets/img/computer.jpeg" alt="..."></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Rahul Prajapati</h4>
                  <h6 class="card-category">Senior Software Engineer</h6>
                </div>
              </a>
              <div class="card-description">
                <ul>
                  <li class="text-left">
                    Senior Software Engineer with 10+ years of experience in developing and maintaining web/mobile
                    applications using various JavaScript frameworks - JavaScript, TypeScript, Angular, ReactJs, VueJs
                  </li>
                  <li class="text-left">
                    In-depth knowledge and experience of working with Agile Software Development Life Cycle (SDLC).
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-nude text-center">
    <div class="container">
      <h2 class="title">Skillset</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Skill</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="col">Languages/Frameworks</th>
            <td scope="row">
              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://upload.wikimedia.org/wikipedia/commons/9/99/Unofficial_JavaScript_logo_2.svg"
                alt="Javascript">
              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://upload.wikimedia.org/wikipedia/commons/4/4c/Typescript_logo_2020.svg" alt="TypeScript">

              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://cdn.worldvectorlogo.com/logos/react-1.svg" alt="React">
              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" alt="Angular">
              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://cdn.worldvectorlogo.com/logos/vue-9.svg" alt="VueJs">
              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://cdn.worldvectorlogo.com/logos/sass-1.svg" alt="Sass">
              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://cdn.worldvectorlogo.com/logos/nodejs-icon.svg" alt="NodeJs">
            </td>
          </tr>
          <tr>
            <th scope="row">Version Control</th>
            <td scope="row">
              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://cdn.worldvectorlogo.com/logos/git-icon.svg" alt="Git">
              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://cdn.worldvectorlogo.com/logos/github-icon.svg" alt="GitLab">
              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://cdn.worldvectorlogo.com/logos/bitbucket-icon.svg" alt="BitBucket">
              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://cdn.worldvectorlogo.com/logos/gitlab.svg" alt="GitLab">


            </td>
          </tr>
          <tr>
            <th scope="row">Editors</th>
            <td scope="row">
              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://cdn.worldvectorlogo.com/logos/visual-studio-code-1.svg" alt="Visual Studio Code">
              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://cdn.worldvectorlogo.com/logos/visual-studio-2013.svg" alt="Visual Studio">
            </td>
          </tr>
          <tr>
            <th scope="row">Templating engines</th>
            <td scope="row">
              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://cdn.worldvectorlogo.com/logos/docker.svg" alt="Docker">
              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://cdn.worldvectorlogo.com/logos/next-js.svg" alt="NextJs">
              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://cdn.worldvectorlogo.com/logos/nuxt-2.svg" alt="NUXTjs">
              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://www.vectorlogo.zone/logos/nestjs/nestjs-icon.svg" alt="NestJs">
              <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills"
                src="https://cdn.worldvectorlogo.com/logos/prisma-3.svg" alt="Prisma">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="section section-dark-blue-darker text-center">
    <div class="container">
      <h2 class="title">Let's talk about Experience</h2>
      <div class="row">

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar" class=""><img
                  src="https://upload.wikimedia.org/wikipedia/commons/f/f3/NIIT_Technologies_Logo.svg"
                  alt="NIIT Technologies"></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">NIIT Technologies</h4>
                  <p className="experience-company-duration font-italic">Mar 2020 - Present</p>
                  <h6 class="card-category">Senior Software Engineer</h6>
                </div>
              </a>
              <!-- <p class="card-description text-center">
                  Teamwork is so important that it is virtually impossible for you to reach the heights of your
                  capabilities or make the money that you want without becoming very good at it.
                </p> -->
            </div>
            <div class="card-footer text-center">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="https://agreeya.com/wp-content/uploads/2022/01/agreeya-logo.svg"
                  alt="Agreeya Solutions"></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Agreeya Solutions</h4>
                  <p className="experience-company-duration font-italic">Apr 2019 - Feb 2020</p>
                  <h6 class="card-category">Technical Consultant</h6>
                </div>
              </a>
              <!-- <p class="card-description text-center">
                  Teamwork is so important that it is virtually impossible for you to reach the heights of your
                  capabilities or make the money that you want without becoming very good at it.
                </p> -->
            </div>
            <div class="card-footer text-center">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar" class=""><img
                  src="https://www.publicissapient.com/content/dam/ps-rebrand/brand/ps-logo-NEW.svg"
                  alt="Publicis Sapient"></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Publicis Sapient</h4>
                  <p className="experience-company-duration font-italic">Oct 2018 - Mar 2019</p>
                  <h6 class="card-category">Associate</h6>
                </div>
              </a>
              <!-- <p class="card-description text-center">
                  Teamwork is so important that it is virtually impossible for you to reach the heights of your
                  capabilities or make the money that you want without becoming very good at it.
                </p> -->
            </div>
            <div class="card-footer text-center">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="https://upload.wikimedia.org/wikipedia/commons/8/89/Fiserv_logo.svg"
                  alt="Fiserv"></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Fiserv India </h4>
                  <p className="experience-company-duration font-italic">Jul 2016 - Sep 2018</p>
                  <h6 class="card-category">Software Engineer</h6>
                </div>
              </a>
              <!-- <p class="card-description text-center">
                  The strength of the team is each individual member. The strength of each member is the team. If you can
                  laugh together, you can work together, silence isn’t golden, it’s deadly.
                </p> -->
            </div>
            <div class="card-footer text-center">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="https://dminc.com/wp-content/uploads/2022/02/Main-DMI-logo-no-tagline.svg"
                  alt="DMI"></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">DMI innovations Pvt Ltd</h4>
                  <p className="experience-company-duration font-italic">Jun 2015 - May 2016</p>
                  <h6 class="card-category">Software Engineer</h6>
                </div>
              </a>
              <!-- <p class="card-description text-center">
                  The strength of the team is each individual member. The strength of each member is the team. If you can
                  laugh together, you can work together, silence isn’t golden, it’s deadly.
                </p> -->
            </div>
            <div class="card-footer text-center">
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar"><img src="https://upload.wikimedia.org/wikipedia/commons/6/61/Transwebeducationogo.png"
                  alt="Transweb Educational Services"></a>
            </div>
            <div class="card-block">
              <a href="#paper-kit">
                <div class="author">
                  <h4 class="card-title">Associate</h4>
                  <p className="experience-company-duration font-italic">Feb 2012 - Jun 2014</p>
                  <h6 class="card-category">Software Engineer</h6>
                </div>
              </a>
              <!-- <p class="card-description text-center">
                  A group becomes a team when each member is sure enough of himself and his contribution to praise the
                  skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                </p> -->
            </div>
            <div class="card-footer text-center">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Find me on</h2>
          <br>
        </div>
      </div>
      <br /><br />
      <div class="row">
        <div class="col-md-4">
          <div class="info py-4">
            <a href="https://www.linkedin.com/in/rohngonnarock/" target="_blank">
              <div class="icon icon-danger">
                <i class="fa fa-linkedin fa-3x"> </i>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info py-4">
            <a href="https://github.com/rohngonnarock/" target="_blank">
              <div class="icon icon-danger">
                <i class="fa fa-github fa-3x"> </i>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="info py-4">
            <a href="https://twitter.com/rahl0love/" target="_blank">
              <div class="icon icon-danger">
                <i class="fa fa-twitter fa-3x"> </i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-pink text-center">
    <div class="container">
      <h2 class="title">Things I love <i class="fa fa-heart"> </i></h2>
      <div class="row">



        <div class="col-md-3">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar" class=""><img class="image-overlay" src="./assets/img/video-game.jpeg"
                  alt="Video Games"></a>
              <div class="overlay">
                <div class="text">Video Games</div>
              </div>
            </div>
            <div class="card-block">
            </div>
            <div class="card-footer text-center">
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar" class=""><img class="image-overlay" src="./assets/img/eating.jpeg" alt="Eating"></a>
              <div class="overlay">
                <div class="text">Food</div>
              </div>
            </div>
            <div class="card-block">
            </div>
            <div class="card-footer text-center">
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar" class=""><img class="image-overlay" src="./assets/img/travel.jpg" alt="Travel"></a>
              <div class="overlay">
                <div class="text">Travel</div>
              </div>
            </div>
            <div class="card-block">
            </div>
            <div class="card-footer text-center">
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="card card-profile card-plain">
            <div class="card-avatar">
              <a href="#avatar" class=""><img class="image-overlay" src="./assets/img/music.jpg" alt="Music"></a>
              <div class="overlay">
                <div class="text">Music</div>
              </div>
            </div>
            <div class="card-block">
            </div>
            <div class="card-footer text-center">
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>

  <div class="section section-pink text-center">
    <div class="container">
      <h2 class="title">More About Me <i class="fa fa-heart"> </i></h2>
      <div class="row justify-content-center">

        <div class="col-md-3">
          <div class="card card-profile card-plain">
            <div class="card-avatar" (click)="togglePlay()">
              <a href="#avatar" class=""><img class="image-overlay" src="./assets/img/computer.jpeg" alt="Computer"></a>
              <div class="overlay">
                <div class="text">Know more</div>
              </div>
            </div>
            <div class="card-block">
              Do you really think you know everything about me?
            </div>
            <div class="card-footer text-center">
              <audio id="myAudio" src="./assets/sound/info.mp3" preload="auto" type="audio/mpeg" #audioPlayer>
              </audio>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="section home-section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="text-center">Keep in touch?</h2>
          <form class="contact-form">
            <div class="row">
              <div class="col-md-6">
                <label>Name</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false">
                </div>
              </div>
              <div class="col-md-6">
                <label>Email</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true"
                    (blur)="focus1=false">
                </div>
              </div>
            </div>
            <label>Message</label>
            <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
            <div class="row">
              <div class="col-md-4 mr-auto ml-auto">
                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>