<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
      <div class="motto text-center">
        <h1>Rahul Prajapati</h1>
        <h3>Web developer</h3>
        <br />
        <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i
            class="fa fa-play"></i>Watch video</a>
        <button type="button" class="btn btn-outline-neutral btn-round">Download</button> -->
      </div>
    </div>
  </div>
  <div class="main home-page">
  
    <div class="section text-center">
      <div class="container">
        <h2 class="title">About Me</h2>
        <div class="row d-flex justify-content-center">
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar"><img src="./assets/img/computer.jpeg" alt="..."></a>
              </div>
              <div class="card-block">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Rahul Prajapati</h4>
                    <h6 class="card-category">Senior Consultant</h6>
                  </div>
                </a>
                <div class="card-description">
                  <ul>
                    <li class="text-left">
                      Software Engineer with 7 years of experience in developing and maintaining web/mobile/television
                      applications using various JavaScript frameworks - Angular (2, 7, 8) React-Redux, AngularJS, Jquery.
                    </li>
                    <li class="text-left">
                      In-depth knowledge and experience of working with Agile Software Development Life Cycle (SDLC).
                    </li>
                    <li class="text-left">
                      <b>USA B1 visa holder till Aug 2025</b>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="card-footer text-center">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="section section-nude text-center">
      <div class="container">
        <h2 class="title">Skillset</h2>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Category</th>
              <th scope="col">Skill</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="col">Languages/Frameworks</th>
              <td scope="row">
                <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills" src="./assets/img/js.png" alt="Javascript">
                <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills" src="./assets/img/react.png" alt="React">
                <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills" src="./assets/img/angular.png" alt="angular">
                <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills" src="./assets/img/html.png" alt="html">
                <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills" src="./assets/img/css.png" alt="css">
              </td>
            </tr>
            <tr>
              <th scope="row">Version Control</th>
              <td scope="row">
                <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills" src="./assets/img/git.png" alt="Git">
              </td>
            </tr>
            <tr>
              <th scope="row">Editors</th>
              <td scope="row">
                <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills" src="./assets/img/vscode.png"
                  alt="Visual Studio Code">
                <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills" src="./assets/img/atom.png" alt="Atom">
              </td>
            </tr>
            <tr>
              <th scope="row">Templating engines</th>
              <td scope="row">
                <img class="img-thumbnail col-sm-3 col-md-2 mx-2 p-0 skills" src="./assets/img/handlebar.png"
                  alt="Handlebar">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  
    <div class="section section-dark-blue-darker text-center">
      <div class="container">
        <h2 class="title">Let's talk about Experience</h2>
        <div class="row">
  
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar" class=""><img src="./assets/img/deloitte.png" alt="Deloitte USI"></a>
              </div>
              <div class="card-block">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Deloitte USI</h4>
                    <p className="experience-company-duration font-italic">April 2019 - Present</p>
                    <h6 class="card-category">Senior Consultant</h6>
                  </div>
                </a>
                <!-- <p class="card-description text-center">
                  Teamwork is so important that it is virtually impossible for you to reach the heights of your
                  capabilities or make the money that you want without becoming very good at it.
                </p> -->
              </div>
              <div class="card-footer text-center">
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar"><img src="./assets/img/rsystems.png" alt="R Systems"></a>
              </div>
              <div class="card-block">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Rsystems</h4>
                    <p className="experience-company-duration font-italic">December 2018 - March 2019</p>
                    <h6 class="card-category">Senior Software Engineer</h6>
                  </div>
                </a>
                <!-- <p class="card-description text-center">
                  Teamwork is so important that it is virtually impossible for you to reach the heights of your
                  capabilities or make the money that you want without becoming very good at it.
                </p> -->
              </div>
              <div class="card-footer text-center">
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar" class=""><img src="./assets/img/cognizant.png" alt="Cognizant"></a>
              </div>
              <div class="card-block">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Cognizant Technology Solutions</h4>
                    <p className="experience-company-duration font-italic">May 2016 - December 2018</p>
                    <h6 class="card-category">Associate</h6>
                  </div>
                </a>
                <!-- <p class="card-description text-center">
                  Teamwork is so important that it is virtually impossible for you to reach the heights of your
                  capabilities or make the money that you want without becoming very good at it.
                </p> -->
              </div>
              <div class="card-footer text-center">
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar"><img src="./assets/img/dmi.png" alt="..."></a>
              </div>
              <div class="card-block">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">DMI innovations Pvt Ltd</h4>
                    <p className="experience-company-duration font-italic">July 2015 - May 2016</p>
                    <h6 class="card-category">Software Engineer</h6>
                  </div>
                </a>
                <!-- <p class="card-description text-center">
                  The strength of the team is each individual member. The strength of each member is the team. If you can
                  laugh together, you can work together, silence isn’t golden, it’s deadly.
                </p> -->
              </div>
              <div class="card-footer text-center">
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar"><img src="./assets/img/magna.png" alt="Magna Infotech"></a>
              </div>
              <div class="card-block">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Magna Infotech(Deputed in Sapient)</h4>
                    <p className="experience-company-duration font-italic">October 2014 - July 2015</p>
                    <h6 class="card-category">Software Engineer</h6>
                  </div>
                </a>
                <!-- <p class="card-description text-center">
                  A group becomes a team when each member is sure enough of himself and his contribution to praise the
                  skill of the others. No one can whistle a symphony. It takes an orchestra to play it.
                </p> -->
              </div>
              <div class="card-footer text-center">
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar"><img src="./assets/img/basware.png" alt="Basware"></a>
              </div>
              <div class="card-block">
                <a href="#paper-kit">
                  <div class="author">
                    <h4 class="card-title">Basware Corporation</h4>
                    <p className="experience-company-duration font-italic">September 2013 - August 2014</p>
                    <h6 class="card-category">Associate Support Consultant</h6>
                  </div>
                </a>
                <!-- <p class="card-description text-center">
                  Teamwork is so important that it is virtually impossible for you to reach the heights of your
                  capabilities or make the money that you want without becoming very good at it.
                </p> -->
              </div>
              <div class="card-footer text-center">
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  
    <div class="section text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <h2 class="title">Find me on</h2>
            <br>
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-md-4">
            <div class="info py-4">
              <a href="https://www.linkedin.com/in/pushkar-kathuria-1701/" target="_blank">
                <div class="icon icon-danger">
                  <i class="fa fa-linkedin fa-3x"> </i>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info py-4">
              <a href="https://github.com/rohngonnarock/rahul-prajapati-profile" target="_blank">
                <div class="icon icon-danger">
                  <i class="fa fa-github fa-3x"> </i>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="info py-4">
              <a href="https://www.facebook.com/pushkar.kathuria/" target="_blank">
                <div class="icon icon-danger">
                  <i class="fa fa-facebook fa-3x"> </i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="section section-pink text-center">
      <div class="container">
        <h2 class="title">Things I love <i class="fa fa-heart"> </i></h2>
        <div class="row">
  
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar" class=""><img class="image-overlay" src="./assets/img/cat-dad.jpeg" alt="Cats"></a>
                <div class="overlay">
                  <div class="text">Cats</div>
                </div>
              </div>
              <div class="card-block">
              </div>
              <div class="card-footer text-center">
              </div>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar" class=""><img class="image-overlay" src="./assets/img/football.jpeg" alt="Football"></a>
                <div class="overlay">
                  <div class="text">Football</div>
                </div>
              </div>
              <div class="card-block">
              </div>
              <div class="card-footer text-center">
              </div>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar" class=""><img class="image-overlay" src="./assets/img/dancing.jpeg" alt="Dance"></a>
                <div class="overlay">
                  <div class="text">Dance</div>
                </div>
              </div>
              <div class="card-block">
              </div>
              <div class="card-footer text-center">
              </div>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar" class=""><img class="image-overlay" src="./assets/img/video-game.jpeg" alt="Video Games"></a>
                <div class="overlay">
                  <div class="text">Video Games</div>
                </div>
              </div>
              <div class="card-block">
              </div>
              <div class="card-footer text-center">
              </div>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar" class=""><img class="image-overlay" src="./assets/img/eating.jpeg" alt="Eating"></a>
                <div class="overlay">
                  <div class="text">Food</div>
                </div>
              </div>
              <div class="card-block">
              </div>
              <div class="card-footer text-center">
              </div>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar" class=""><img class="image-overlay" src="./assets/img/travel.jpg" alt="Travel"></a>
                <div class="overlay">
                  <div class="text">Travel</div>
                </div>
              </div>
              <div class="card-block">
              </div>
              <div class="card-footer text-center">
              </div>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar" class=""><img class="image-overlay" src="./assets/img/music.jpg" alt="Music"></a>
                <div class="overlay">
                  <div class="text">Music</div>
                </div>
              </div>
              <div class="card-block">
              </div>
              <div class="card-footer text-center">
              </div>
            </div>
          </div>
  
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="#avatar" class=""><img src="./assets/img/gym.jpg" alt="Gym"></a>
                <div class="overlay">
                  <div class="text">Gym</div>
                </div>
              </div>
              <div class="card-block">
              </div>
              <div class="card-footer text-center">
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="section section-pink text-center">
      <div class="container">
        <h2 class="title">More About Me <i class="fa fa-heart"> </i></h2>
        <div class="row justify-content-center">
  
          <div class="col-md-3">
            <div class="card card-profile card-plain">
              <div class="card-avatar" (click)="togglePlay()">
                <a href="#avatar" class=""><img class="image-overlay" src="./assets/img/computer.jpeg" alt="Computer"></a>
                <div class="overlay">
                  <div class="text">Know more</div>
                </div>
              </div>
              <div class="card-block">
                Do you really think you know everything about me?
              </div>
              <div class="card-footer text-center">
                <audio id="myAudio" src="./assets/sound/info.mp3" preload="auto" type="audio/mpeg" #audioPlayer>
                </audio>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  
    <div class="section home-section">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <h2 class="text-center">Keep in touch?</h2>
            <form class="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <label>Name</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Name" (focus)="focus=true" (blur)="focus=false">
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email" (focus)="focus1=true"
                      (blur)="focus1=false">
                  </div>
                </div>
              </div>
              <label>Message</label>
              <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
              <div class="row">
                <div class="col-md-4 mr-auto ml-auto">
                  <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  